* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 16px;
    background: url('img/background.png') no-repeat center top / cover;
    
}
.left-side {
    width: 456px;
}
header {
    margin-top: 20px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.orar-title {
    height: 58px;
    width: 456px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 900;
    color: #666;
    font-style: normal;
}
.wrapper-button {
    display: flex;
    width: 456px;
    justify-content: space-between;
    padding-top: 20px;
}
.main {
    background-color: #25975A;
    padding: 10px 30px 11px;
    text-align: center;
}
.main:hover {
    background-color: #fff;
    color: black;
    cursor: pointer;
}
h2 {
    font-size: 14px;

}
section {
    margin-top: 20px;
}
.search {
    width: 456px;
    height: 40px;
    padding-left: 20px;
    font-weight: 700;
    color: #666666;
}
.search-found {
    width: 456px;
    height: 100px;
    background-color: #fff;
    margin-top: 20px;
}
.search-found p {
    border: none;
    padding-left: 15px;
    font-weight: 700;
    background-color: #25975A;
    width: 100%;
    margin-top: 0px;
    outline: none;
    color: #fff;
    font-size: 14px;
}
.search-found p:hover {
    color: #25975A;
    background-color: bisque;
    cursor: pointer;
}
select {
    margin-top: 20px;
    width: 456px;
    height: 40px;
    padding: 11px 11px 12px;
    font-weight: 700;
    color: #666666;
    display: block;
}
.